.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 10px;

  img.logo {
      width: 300px;
      height: auto;
      opacity: 0; /* Opacidad inicial */
      transform: scale(0.9); /* Escala inicial pequeña */
      transition: transform 0.5s ease;
  }

  /* Clase que se aplica cuando loading es falso */
  &.animate-opacity img {
      animation: fadeIn 5s ease forwards;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: scale(0.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/* Ajuste para los campos de entrada */
ion-item.rounded-item {
  --background: rgba(28, 30, 31, 0.2); /* Fondo claro */
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

ion-button.small-button {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-links {
  margin-top: 30px;
  text-align: center;

  ion-button {
      color: #17416d;
      font-weight: bold;
  }
}

/* Fondo y colores */
ion-content {
  --background: transparent;
  background-image: url('/assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

ion-toolbar {
  --background: rgba(28, 30, 31, 0.2);
}

ion-input {
  --color: #13555f;
}

ion-label {
  color: #ADBABC;
}

ion-header, ion-footer {
  background-color: rgba(28, 30, 31, 0.2);
}

ion-item {
  --background: rgba(28, 30, 31, 0.2);
}

.loader-container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  position: fixed; /* Centrado en toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  z-index: 10;
}

/*indicador de carga*/
.loader-container ion-spinner {
  width: 80px; 
  height: 80px; 
  --color: #17416d; 
}