<ion-header>
  <ion-toolbar>
    <!-- Logo de la aplicación en la parte izquierda -->
    <ion-buttons slot="start">
      <img src="assets/img/logo.png" alt="Logo" class="logo" />
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Users Management</ion-title>
    <!-- Menú hamburguesa en la parte derecha -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor que muestra la lista de usuarios si no hay un usuario seleccionado -->
  <ng-container *ngIf="!selectedUser">
    <ion-list>
      <!-- Iteración sobre la lista de usuarios para mostrar cada uno con opciones de edición y eliminación -->
      <ion-item *ngFor="let user of users">
        <ion-label>{{ user.nombre }} {{ user.apellidos }} ({{ user.tipoUsuario }})</ion-label>
        <ion-button color="primary" (click)="editUser(user)">Editar</ion-button>
        <ion-button color="danger" (click)="deleteUser(user.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Contenedor que muestra el formulario de edición si hay un usuario seleccionado -->
  <ng-container *ngIf="selectedUser">
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
      <!-- Campo de entrada para el nombre del usuario -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="editForm!.get('nombre')?.hasError('required') && editForm!.get('nombre')?.touched">
        Nombre es requerido.
      </ion-text>

      <!-- Campo de entrada para los apellidos del usuario -->
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="apellidos"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="editForm!.get('apellidos')?.hasError('required') && editForm!.get('apellidos')?.touched">
        Apellidos son requeridos.
      </ion-text>

      <!-- Campo de entrada para el correo electrónico, deshabilitado -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" [disabled]="true"></ion-input>
      </ion-item>

      <!-- Campo de entrada para la nueva contraseña -->
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <!-- Campo de entrada para confirmar la nueva contraseña -->
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="editForm!.hasError('passwordMismatch') && editForm!.get('confirmPassword')?.touched">
        Las contraseñas no coinciden.
      </ion-text>

      <!-- Selector para elegir el rol del usuario -->
      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="tipoUsuario">
          <ion-select-option value="admin">Admin</ion-select-option>
          <ion-select-option value="user">User</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botones para guardar cambios o cancelar la edición -->
      <ion-button expand="block" type="submit" [disabled]="editForm!.invalid">Guardar Cambios</ion-button>
      <ion-button expand="block" color="medium" (click)="cancelEdit()">Cancelar</ion-button>
    </form>
  </ng-container>
</ion-content>
